@import "tailwindcss";


* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));